<!-- Fixed bottom sends to bottom of screen. -->

<div class="fixed-bottom">

  <footer class="text-center text-lg-start" style="background-color: #B74803;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn custom-button btn-floating mx-2">
        <a class="text-light" href="{% url 'home' %}">Home</a>
      </button>
      <button type="button" class="btn custom-button btn-floating mx-2" >
        <a class="text-light" href="https://www.amazon.com">Order Now</a>
      </button>
      <button type="button" class="btn custom-button btn-floating mx-2" >
        <a class="text-light" href="{% url 'home' %}">About Us</a>
      </button>
      <button type="button" class="btn custom-button btn-floating mx-2" >
        <a class="text-light" href="{% url 'home' %}">Contact</a>        
      </button>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" >
      © 2024 Copyright: TapMate
      <a class="text-white" href="https://Google.com/">TapMate.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->