<div class="page-container">
  <div class="content-wrap">
    <!-- Your page content goes here -->

    <footer class="footer mt-auto py-3 footer-bg footer-bg">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="custom-button2 btn-floating mx-2">
          <a href="{% url 'home' %}" class="text-light">Home</a>
        </button>
        <button type="button" class="custom-button2 btn-floating mx-2">
          <a href="https://www.amazon.com" class="text-light">Order Now</a>
        </button>
        <button type="button" class="custom-button2 btn-floating mx-2">
          <a href="{% url 'home' %}" class="text-light">About Us</a>
        </button>
        <button type="button" class="custom-button2 btn-floating mx-2">
          <a href="{% url 'home' %}" class="text-light">Contact</a>        
        </button>
      </div>

      <!-- Copyright -->
      <div class="text-center p-3">
        © 2024 Copyright: TapMate
        <br>
        <a href="https://Google.com/">TapMate.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</div>
