<!-- Create a block so it can be used in the base.html file -->
{% extends 'base.html' %}

{% block content %}

<!-- Page title -->
{% block title %}Login - TapMate{% endblock %}

<!-- Center the div -->
<div class="col-md-6 offset-md-3 mt-5">

  <br><br><br><br>
  <br>
    <br/>
    <form method="POST" action="{% url 'login' %}" >
        {% csrf_token %} <!--Added so hackers dont get in-->

        

        <div class="custom-container cust-card cust-border text_color">
            <h3>Login</h3>
            <div class="card-body">

                <form>
                    <div class="mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control input-field" name="username" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control input-field" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="custom-button2">Login</button>
                    <br>
                    <div class="offset-md-4">
                    <span class="form-text text-muted"><small>Dont have an account? <a href="{% url 'register' %}">Register!</a></small></span>
                    </div>
                  </form>

              
            </div>
          </div>

        
    </form>
  </div>

  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>

  {% endblock %}