<!-- Create a block so it can be used in the base.html file -->
{% extends 'base.html' %} {% block content %}

<!-- Load static for images/css/js -->
{% load static %} {% if user.is_authenticated %}

<!-- Check to see if tap_tags were sent over from backend -->
{% if tap_tags %}
<h2>Your Tap Tags:</h2>

<ul>
  <!-- for loop for all tags associated with email -->
  {% for tag in tap_tags %}

  <!-- List tags -->
  <li>{{ tag }}</li>

  {% endfor %}
</ul>
{% else %}

<div class="card cust-card">
  <div class="card-body text-light">
    <h4>Sorry, no TapTags found associated with your email.</h4>
    <br /><br />
    <h5>
      If you are having trouble feel free to
      <a class="text-light" href="#" style="text-decoration: underline"
        >contact support</a
      >
    </h5>
  </div>
</div>

{% endif %} {% else %}
<!-- <div class="d-flex align-items-center"></div> -->

<div class="col-md-10 offset-md-1">
  <br />

  <div>
    <h1>Welcome to TapMate!</h1>
  </div>

  <br /><br />

  <!-- Picture cards -->
  <div class="card-group cust-border">
    <div class="card">
      <img
        src="{% static 'img/man_using_phone.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body" style="background-color: #fff9e9">
        <h5 class="card-title">Keep Up.</h5>
      </div>
    </div>

    <div class="card">
      <img
        src="{% static 'img/traveling.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body" style="background-color: #fff9e9">
        <h5 class="card-title">Stay Connected.</h5>
      </div>
    </div>

    <div class="card">
      <img
        src="{% static 'img/man_on_phone.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body" style="background-color: #fff9e9">
        <h5 class="card-title">Explore.</h5>
      </div>
    </div>
  </div>
</div>

{% include 'contact.html' %}

{% endif %} {% endblock %}
