<!-- Create a block so it can be used in the base.html file -->
{% extends 'base.html' %}

{% block content %}

<!-- Page title -->
{% block title %}Register - TapMate{% endblock %}


<div class="col-md-6 offset-md-3 mt-5">
	<br>
	<br>
	<br>
	
	<div class="custom-container cust-card cust-border">

	

    <h3 class="text-dark">Register</h3>
    <br>

    <form method="POST" action="">
        {% csrf_token %} <!--Added so hackers dont get in-->

        <!-- Checks for erros & displays them on screen -->
        {% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

        {{ form.as_p }}

        <button type="submit" class="custom-button2">Register</button>
    <form>

	<div class="offset-md-4">
		<span class="form-text text-muted"><small>Have an account? <a href="{% url 'login' %}">Login!</a></small></span>
	</div>
		
	</div>

</div>

{% endblock %}