{% extends 'base.html' %}

{% block title %} {{tap_tag.tag_name}} - TapMate{% endblock %}

{% block content %}
{% load static %}

<br><br><br><br><br>

<div class="container">
  
  
  {% if user.is_authenticated %}
  <!-- Logged in -->

    {% if tagtag_initialized %}
    <!-- Logged in - Initialized -->

      {% if owners_tag %}
      <!-- Logged in - Initialized - Own Tag (Editable) -->
        {% if tap_tag %}
          <div class="section-title">
            <h2>{{tap_tag.tag_name}}</h2>
          </div>
          <div class="taptag">
            <div class="item">
              <h2>Name:</h2> <h3>{{tap_tag.tag_name}}</h3>
            </div>
            
            <br>
            <br>
            <div class="item">
              <h2>Location:</h2>
              <h3>{{tap_tag.tag_location}}</h3>
            </div>
            <br>
            <br>
            <div class="desription-item-title">
              <h2>Descritption:</h2>
            </div>
              <div class="desription-item">
                <h6>{{tap_tag.description}}</h6>

              </div>
              <div class="centered-button">
                <a href="{% url 'edit_tag' tap_tag.gaurdian  %}" class="custom-button2">Edit Tag info!</a>
              </div>
          </div>

      
        {% endif %}
        
        
        

      {% else %}
      <!-- Logged in - Initialized - Not Own Tag (View Only) -->

        {% if tap_tag %}
        <div class="section-title">
          <h2>{{tap_tag.tag_name}}</h2>
        </div>
        <div class="taptag">
          <div class="item">
            <h2>Name:</h2> <h3>{{tap_tag.tag_name}}</h3>
          </div>
          
          <br>
          <br>
          <div class="item">
            <h2>Location:</h2>
            <h3>{{tap_tag.tag_location}}</h3>
          </div>
          <br>
          <br>
          <div class="item">
            <h2>Descritption:</h2>
            {{tap_tag.description}}
          </div>
        </div>
    
        {% endif %}

      {% endif %}

    {% else %}
    <!-- Logged in - Not initialized (Claimable) -->

      <div id="claimtag" class="container">
        <div class="offset-md-2" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
              <img src="{% static 'img/nfc_picture-nobg.png' %}" class="img-fluid rounded-start" alt="..." style="max-width: 80%; height: auto;">
            </div>
            <div class="col-md-8">
              <div class="card">
                <div style="margin: 10px;">
                  <div class="card-body">
                    <h5 class="card-title">{{tap_tag.tag_name}}</h5>
                    <p class="card-text">This is an unitiialized TapTag - Tap your phone on top of the tag to access the.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="custom-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Claim this tag!
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Claim This Tag</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5>{{tap_tag.tag_name}}</h5> 
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Agree to <a href="#">terms</a> & <a href="#">services</a>.
                  </label>
                </div>
                  <p>Don't worry, we do <strong>NOT</strong> sell your information!</p>
              </div>
            <div class="modal-footer">
              <button type="button" class="custom-button" data-bs-dismiss="modal">Cancel</button>
              <!-- !Fix here & js to not allow user to pass without claiming -->
              <button type="button" class="custom-button2"> <a href="{% url 'claim_tag' tap_tag.gaurdian %}" style="text-decoration: none; color: inherit;">Claim tag</a></button>
            </div>
          </div>
        </div>
      </div>



      </div>



    {% endif %}


  {% else %}
  <!-- Not logged in -->

    {% if tagtag_initialized %}
    <!-- Not logged in - Initialized (View Only)-->

      {% if tap_tag %}
      <div class="section-title">
        <h2>{{tap_tag.tag_name}}</h2>
      </div>
      <div class="taptag">
        <div class="item">
          <h2>Name:</h2> <h3>{{tap_tag.tag_name}}</h3>
        </div>
        
        <br>
        <br>
        <div class="item">
          <h2>Location:</h2>
          <h3>{{tap_tag.tag_location}}</h3>
        </div>
        <br>
        <br>
        <div class="desription-item-title">
          <h2>Descritption:</h2>
        </div>
          <div class="desription-item">
            <h6>{{tap_tag.description}}</h6>
          </div>
      </div>

      {% endif %}


    {% else %}
    <!-- Not logged in - Not Initialized (Login to claim)-->

    <div id="claimtag" class="container">
      <div class="offset-md-2" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
            <img src="{% static 'img/nfc_picture-nobg.png' %}" class="img-fluid rounded-start" alt="..." style="max-width: 80%; height: auto;">
          </div>
          <div class="col-md-8">
            <div class="card">
              <div style="margin: 10px;">
                <div class="card-body">
                  <h5 class="card-title">{{tap_tag.tag_name}}</h5>
                  <p class="card-text">This is an unitiialized TapTag - Tap your phone on top of the tag to access the.</p>
                  <h3>Claim this tag: <a href="#" class="custom-button2">Login to claim</a></h3> 
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

         


    {% endif %}



  {% endif %}

</div>

<br><br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
{% endblock %}

