<!-- Create a block so it can be used in the base.html file -->
{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Tags - TapMate{% endblock %}

{% block content %}


<!-- todo - pick up here. Update the claimed tags & how they look when viewed -->
<!-- todo  - next - work on the tag view for each tag viewable & editable on tag.html -->
<div class="taptag-container">
  <div class="section-title">
    <h2>Tags</h2>
  </div>
  
  {% if tap_tags %}
    <!--User has tags claimed  -->

    <!-- for loop for all tags associated with email -->
    {% for tag in tap_tags %}

    <div id="TapTags" class="taptags-claimed">
      <div class="accordion accordion-flush" id="accordionFlushExample">
         <div class="taptag-claimed-title text-title">
          <!-- List tags -->
           <h2 style="margin-right: 10px;">{{ tag.tag_name }}</h2>
           <h3 style="margin-right: 10px; "> - </h3>
           <h3>{{ tag.tag_location }}</h3>
        </div>
        <div id="taptag btn">
          <!-- <a class="taptag-selection-btn" href="#">Edit</a> -->
          <a class="taptag-view-btn"  href="{% url 'tag' tag.gaurdian %}">Select</a>
        </div>
    </div>
    

    {% endfor %}

    


  {% else %}
  <!-- User has no tags claimed -->
    <div class="card cust-card custom-container">
      <div class="card-body">
        <h4>Sorry, no TapTags found associated with your account.</h4>
        <br /><br />
        <h5>
          If you are having trouble feel free to
          <a href="#" style="text-decoration: underline">contact support</a>
          <p>Add how to add a tap tag & such</p>
        </h5>
      </div>
    </div>


  {% endif %}





</div>





{% endblock %}